name=ES
slot=1
# library="/usr/local/lib/libcastle_v2.1.0.0.dylib" //:- for macOS
# library="C:\Windows\System32\eps2003csp11.dll"
# for windows
library="C:/Windows/System32/eps2003csp11.dll" 

# for linux
# library="/usr/lib/libcastle_v2.so.1.0.0"



